In [1]:
import os
import pandas as pd
from pandas import DataFrame as DF
from toolz import pipe

In [91]:
#build class for read data

class proccess_challenge:
    def __init__(self):
        self.__path = f'{os.getcwd()}/data/'
        self.sc = spark.sparkContext
        self.format = '.parquet'
        self.name_file = str
    
    def read_raw(self):
        #read csv file as rdd
        return self.sc.textFile(f'{self.__path}/raw/{self.name_file}')
        
        
    def read_dataset_pd(self) -> DF:
            df = pd.read_csv(f'{self.__path}/raw/{self.name_file}')
            return df
    
    def save_parquet(self, df_transform : DF) -> DF:
        df_transform.to_parquet(f'{self.__path}/results/{self.name_file}{self.format}')
        return df_transform
    
    def parallelize_process(self) -> DF:
        #create df in spark
        df = spark.read.format('csv') \
            .option("inferSchema", 'true') \
            .option("header", 'true') \
            .option("sep", ',') \
            .load(f'{self.__path}/temp/{self.name_file}')
        #get schema dtypes
        dummy = [str(dict(df.dtypes))]
        schema_rdd = self.sc.parallelize(dummy)
        schema = spark.read.json(schema_rdd)
        df = spark.read.schema(schema.schema).csv(f'{self.__path}/temp/{self.name_file}')
        return df
        
    def transform_column(self, df_transform : DF) -> DF:
        """
        rename columns the DataFrame, 
        perform cleaning of special characters
        """
        
        for file in os.listdir(os.getcwd() + '/data/raw/'):
            for col in df_transform.columns:
                col_new = col.translate(col.maketrans('/%"_', f'____')).replace(' ', '')
                df_transform.rename(columns={col: col_new.lower()}, inplace=True)
        return df_transform
    
    def save_csv_transform(self, df: DF) -> None:
        df.to_csv(f'{self.__path}temp/{self.name_file}', index=False)
    
    def main(self):
        """
        orchestrator procces
        librery pipe to perform functional programming
        """
        for file in os.listdir(f'{self.__path}/raw/'):
            if file.endswith('.csv'):
                self.name_file = file
                pipe(self.read_dataset_pd(),
                     self.transform_column,
                     self.save_parquet,
                     self.save_csv_transform)
                print('file process  {}'.format(file))
    
    def execute_parallelize_process(self):
        for file in os.listdir(f'{self.__path}/temp/'):
            if file.endswith('.csv'):
                self.name_file = file
                self.parallelize_process()
                #df = self.parallelize_process()
        #return df

In [68]:
obj = proccess_challenge()
obj.main()

file process  worldometer_data.csv
file process  full_grouped.csv
file process  day_wise.csv
file process  covid_19_clean_complete.csv
file process  country_wise_latest.csv
file process  usa_county_wise.csv

In [92]:
obj = proccess_challenge()
df = obj.execute_parallelize_process()

["{'country_region': 'string', 'continent': 'string', 'population': 'double', 'totalcases': 'int', 'newcases': 'double', 'totaldeaths': 'double', 'newdeaths': 'double', 'totalrecovered': 'double', 'newrecovered': 'double', 'activecases': 'double', 'serious,critical': 'double', 'totcases_1mpop': 'double', 'deaths_1mpop': 'double', 'totaltests': 'double', 'tests_1mpop': 'double', 'whoregion': 'string'}"]

In [93]:
df.show()

+--------------+-------------+--------------+------------+--------+-----------+------------+--------------+----------------+-----------+----------------+--------------+--------------+----------+--------------+--------------------+
|   activecases|    continent|country_region|deaths_1mpop|newcases|  newdeaths|newrecovered|    population|serious,critical|tests_1mpop|      totalcases|   totaldeaths|totalrecovered|totaltests|totcases_1mpop|           whoregion|
+--------------+-------------+--------------+------------+--------+-----------+------------+--------------+----------------+-----------+----------------+--------------+--------------+----------+--------------+--------------------+
|country_region|    continent|    population|  totalcases|newcases|totaldeaths|   newdeaths|totalrecovered|    newrecovered|activecases|serious,critical|totcases_1mpop|  deaths_1mpop|totaltests|   tests_1mpop|           whoregion|
|           USA|North America|   331198130.0|     5032179|    null|   162804.0|        null|     2576668.0|            null|  2292707.0|         18296.0|       15194.0|         492.0|63139605.0|      190640.0|            Americas|
|        Brazil|South America|   212710692.0|     2917562|    null|    98644.0|        null|     2047660.0|            null|   771258.0|          8318.0|       13716.0|         464.0|13206188.0|       62085.0|            Americas|
|         India|         Asia|  1381344997.0|     2025409|    null|    41638.0|        null|     1377384.0|            null|   606387.0|          8944.0|        1466.0|          30.0|22149351.0|       16035.0|      South-EastAsia|
|        Russia|       Europe|   145940924.0|      871894|    null|    14606.0|        null|      676357.0|            null|   180931.0|          2300.0|        5974.0|         100.0|29716907.0|      203623.0|              Europe|
|  South Africa|       Africa|    59381566.0|      538184|    null|     9604.0|        null|      387316.0|            null|   141264.0|           539.0|        9063.0|         162.0| 3149807.0|       53044.0|              Africa|
|        Mexico|North America|   129066160.0|      462690|  6590.0|    50517.0|       819.0|      308848.0|          4140.0|   103325.0|          3987.0|        3585.0|         391.0| 1056915.0|        8189.0|            Americas|
|          Peru|South America|    33016319.0|      455409|    null|    20424.0|        null|      310337.0|            null|   124648.0|          1426.0|       13793.0|         619.0| 2493429.0|       75521.0|            Americas|
|         Chile|South America|    19132514.0|      366671|    null|     9889.0|        null|      340168.0|            null|    16614.0|          1358.0|       19165.0|         517.0| 1760615.0|       92022.0|            Americas|
|      Colombia|South America|    50936262.0|      357710|    null|    11939.0|        null|      192355.0|            null|   153416.0|          1493.0|        7023.0|         234.0| 1801835.0|       35374.0|            Americas|
|         Spain|       Europe|    46756648.0|      354530|    null|    28500.0|        null|          null|            null|       null|           617.0|        7582.0|         610.0| 7064329.0|      151087.0|              Europe|
|          Iran|         Asia|    84097623.0|      320117|    null|    17976.0|        null|      277463.0|            null|    24678.0|          4156.0|        3806.0|         214.0| 2612763.0|       31068.0|EasternMediterranean|
|            UK|       Europe|    67922029.0|      308134|    null|    46413.0|        null|          null|            null|       null|            73.0|        4537.0|         683.0|17515234.0|      257873.0|              Europe|
|  Saudi Arabia|         Asia|    34865919.0|      284226|    null|     3055.0|        null|      247089.0|            null|    34082.0|          1915.0|        8152.0|          88.0| 3635705.0|      104277.0|EasternMediterranean|
|      Pakistan|         Asia|   221295851.0|      281863|    null|     6035.0|        null|      256058.0|            null|    19770.0|           809.0|        1274.0|          27.0| 2058872.0|        9304.0|EasternMediterranean|
|    Bangladesh|         Asia|   164851401.0|      249651|    null|     3306.0|        null|      143824.0|            null|   102521.0|            null|        1514.0|          20.0| 1225124.0|        7432.0|      South-EastAsia|
|         Italy|       Europe|    60452568.0|      249204|    null|    35187.0|        null|      201323.0|            null|    12694.0|            42.0|        4122.0|         582.0| 7099713.0|      117443.0|              Europe|
|        Turkey|         Asia|    84428331.0|      237265|    null|     5798.0|        null|      220546.0|            null|    10921.0|           580.0|        2810.0|          69.0| 5081802.0|       60191.0|              Europe|
|     Argentina|South America|    45236884.0|      228195|    null|     4251.0|        null|       99852.0|            null|   124092.0|          1150.0|        5044.0|          94.0|  794544.0|       17564.0|            Americas|
|       Germany|       Europe|    83811260.0|      215210|    null|     9252.0|        null|      196200.0|            null|     9758.0|           236.0|        2568.0|         110.0| 8586648.0|      102452.0|              Europe|
+--------------+-------------+--------------+------------+--------+-----------+------------+--------------+----------------+-----------+----------------+--------------+--------------+----------+--------------+--------------------+
only showing top 20 rows

In [57]:
df =

In [58]:
df.show()

+--------------+-------------+-------------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+--------------+------------+-----------+-----------+--------------------+
|country_region|    continent|   population|totalcases|newcases|totaldeaths|newdeaths|totalrecovered|newrecovered|activecases|serious,critical|totcases_1mpop|deaths_1mpop| totaltests|tests_1mpop|           whoregion|
+--------------+-------------+-------------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+--------------+------------+-----------+-----------+--------------------+
|           USA|North America|  3.3119813E8|   5032179|    null|   162804.0|     null|     2576668.0|        null|  2292707.0|         18296.0|       15194.0|       492.0|6.3139605E7|   190640.0|            Americas|
|        Brazil|South America| 2.12710692E8|   2917562|    null|    98644.0|     null|     2047660.0|        null|   771258.0|          8318.0|       13716.0|       464.0|1.3206188E7|    62085.0|            Americas|
|         India|         Asia|1.381344997E9|   2025409|    null|    41638.0|     null|     1377384.0|        null|   606387.0|          8944.0|        1466.0|        30.0|2.2149351E7|    16035.0|      South-EastAsia|
|        Russia|       Europe| 1.45940924E8|    871894|    null|    14606.0|     null|      676357.0|        null|   180931.0|          2300.0|        5974.0|       100.0|2.9716907E7|   203623.0|              Europe|
|  South Africa|       Africa|  5.9381566E7|    538184|    null|     9604.0|     null|      387316.0|        null|   141264.0|           539.0|        9063.0|       162.0|  3149807.0|    53044.0|              Africa|
|        Mexico|North America|  1.2906616E8|    462690|  6590.0|    50517.0|    819.0|      308848.0|      4140.0|   103325.0|          3987.0|        3585.0|       391.0|  1056915.0|     8189.0|            Americas|
|          Peru|South America|  3.3016319E7|    455409|    null|    20424.0|     null|      310337.0|        null|   124648.0|          1426.0|       13793.0|       619.0|  2493429.0|    75521.0|            Americas|
|         Chile|South America|  1.9132514E7|    366671|    null|     9889.0|     null|      340168.0|        null|    16614.0|          1358.0|       19165.0|       517.0|  1760615.0|    92022.0|            Americas|
|      Colombia|South America|  5.0936262E7|    357710|    null|    11939.0|     null|      192355.0|        null|   153416.0|          1493.0|        7023.0|       234.0|  1801835.0|    35374.0|            Americas|
|         Spain|       Europe|  4.6756648E7|    354530|    null|    28500.0|     null|          null|        null|       null|           617.0|        7582.0|       610.0|  7064329.0|   151087.0|              Europe|
|          Iran|         Asia|  8.4097623E7|    320117|    null|    17976.0|     null|      277463.0|        null|    24678.0|          4156.0|        3806.0|       214.0|  2612763.0|    31068.0|EasternMediterranean|
|            UK|       Europe|  6.7922029E7|    308134|    null|    46413.0|     null|          null|        null|       null|            73.0|        4537.0|       683.0|1.7515234E7|   257873.0|              Europe|
|  Saudi Arabia|         Asia|  3.4865919E7|    284226|    null|     3055.0|     null|      247089.0|        null|    34082.0|          1915.0|        8152.0|        88.0|  3635705.0|   104277.0|EasternMediterranean|
|      Pakistan|         Asia| 2.21295851E8|    281863|    null|     6035.0|     null|      256058.0|        null|    19770.0|           809.0|        1274.0|        27.0|  2058872.0|     9304.0|EasternMediterranean|
|    Bangladesh|         Asia| 1.64851401E8|    249651|    null|     3306.0|     null|      143824.0|        null|   102521.0|            null|        1514.0|        20.0|  1225124.0|     7432.0|      South-EastAsia|
|         Italy|       Europe|  6.0452568E7|    249204|    null|    35187.0|     null|      201323.0|        null|    12694.0|            42.0|        4122.0|       582.0|  7099713.0|   117443.0|              Europe|
|        Turkey|         Asia|  8.4428331E7|    237265|    null|     5798.0|     null|      220546.0|        null|    10921.0|           580.0|        2810.0|        69.0|  5081802.0|    60191.0|              Europe|
|     Argentina|South America|  4.5236884E7|    228195|    null|     4251.0|     null|       99852.0|        null|   124092.0|          1150.0|        5044.0|        94.0|   794544.0|    17564.0|            Americas|
|       Germany|       Europe|   8.381126E7|    215210|    null|     9252.0|     null|      196200.0|        null|     9758.0|           236.0|        2568.0|       110.0|  8586648.0|   102452.0|              Europe|
|        France|       Europe|  6.5288306E7|    195633|    null|    30312.0|     null|       82460.0|        null|    82861.0|           384.0|        2996.0|       464.0|  3992206.0|    61147.0|              Europe|
+--------------+-------------+-------------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+--------------+------------+-----------+-----------+--------------------+
only showing top 20 rows

In [37]:
path = '/Users/lahaus/Documents/github/n5_challenge/data/results/'
file = 'worldometer_data'
worldometer_data = pd.read_parquet(f'{path}{file}.csv.parquet')

path = '/Users/lahaus/Documents/github/n5_challenge/data/results/'
file = 'full_grouped'
full_grouped = pd.read_parquet(f'{path}{file}.csv.parquet')

path = '/Users/lahaus/Documents/github/n5_challenge/data/results/'
file = 'day_wise'
day_wise = pd.read_parquet(f'{path}{file}.csv.parquet')

path = '/Users/lahaus/Documents/github/n5_challenge/data/results/'
file = 'covid_19_clean_complete'
covid_19_clean_complete = pd.read_parquet(f'{path}{file}.csv.parquet')

path = '/Users/lahaus/Documents/github/n5_challenge/data/results/'
file = 'country_wise_latest'
country_wise_latest = pd.read_parquet(f'{path}{file}.csv.parquet')

path = '/Users/lahaus/Documents/github/n5_challenge/data/results/'
file = 'usa_county_wise'
usa_county_wise = pd.read_parquet(f'{path}{file}.csv.parquet')

In [49]:
worldometer_data['COUNTRY_REGION'].unique()

array(['USA', 'Brazil', 'India', 'Russia', 'South Africa', 'Mexico',
       'Peru', 'Chile', 'Colombia', 'Spain', 'Iran', 'UK', 'Saudi Arabia',
       'Pakistan', 'Bangladesh', 'Italy', 'Turkey', 'Argentina',
       'Germany', 'France', 'Iraq', 'Philippines', 'Indonesia', 'Canada',
       'Qatar', 'Kazakhstan', 'Egypt', 'Ecuador', 'Bolivia', 'Sweden',
       'Oman', 'Israel', 'Ukraine', 'Dominican Republic', 'Panama',
       'Belgium', 'Kuwait', 'Belarus', 'UAE', 'Romania', 'Netherlands',
       'Singapore', 'Guatemala', 'Portugal', 'Poland', 'Nigeria',
       'Honduras', 'Bahrain', 'Japan', 'Armenia', 'Ghana', 'Kyrgyzstan',
       'Afghanistan', 'Switzerland', 'Algeria', 'Azerbaijan', 'Morocco',
       'Uzbekistan', 'Serbia', 'Moldova', 'Ireland', 'Kenya', 'Venezuela',
       'Nepal', 'Austria', 'Costa Rica', 'Ethiopia', 'Australia',
       'El Salvador', 'Czechia', 'Cameroon', 'Ivory Coast', 'S. Korea',
       'Denmark', 'Palestine', 'Bosnia and Herzegovina', 'Bulgaria',
       'Madagascar', 'Sudan', 'North Macedonia', 'Senegal', 'Norway',
       'DRC', 'Malaysia', 'French Guiana', 'Gabon', 'Tajikistan',
       'Guinea', 'Haiti', 'Finland', 'Zambia', 'Luxembourg', 'Mauritania',
       'Paraguay', 'Albania', 'Lebanon', 'Croatia', 'Djibouti', 'Greece',
       'Libya', 'Equatorial Guinea', 'Maldives', 'CAR', 'Hungary',
       'Malawi', 'Zimbabwe', 'Nicaragua', 'Hong Kong', 'Congo',
       'Montenegro', 'Thailand', 'Somalia', 'Mayotte', 'Eswatini',
       'Sri Lanka', 'Cuba', 'Cabo Verde', 'Namibia', 'Mali', 'Slovakia',
       'South Sudan', 'Slovenia', 'Lithuania', 'Estonia', 'Mozambique',
       'Rwanda', 'Suriname', 'Guinea-Bissau', 'Benin', 'Iceland',
       'Sierra Leone', 'Yemen', 'Tunisia', 'New Zealand', 'Angola',
       'Uruguay', 'Latvia', 'Jordan', 'Liberia', 'Uganda', 'Cyprus',
       'Georgia', 'Burkina Faso', 'Niger', 'Togo', 'Syria', 'Jamaica',
       'Malta', 'Andorra', 'Chad', 'Gambia', 'Sao Tome and Principe',
       'Botswana', 'Bahamas', 'Vietnam', 'Lesotho', 'Diamond Princess',
       'San Marino', 'Réunion', 'Channel Islands', 'Guyana', 'Tanzania',
       'Taiwan', 'Comoros', 'Burundi', 'Myanmar', 'Mauritius',
       'Isle of Man', 'Mongolia', 'Eritrea', 'Guadeloupe', 'Martinique',
       'Faeroe Islands', 'Aruba', 'Cambodia', 'Trinidad and Tobago',
       'Cayman Islands', 'Gibraltar', 'Papua New Guinea', 'Sint Maarten',
       'Bermuda', 'Brunei ', 'Barbados', 'Turks and Caicos', 'Seychelles',
       'Monaco', 'Bhutan', 'Antigua and Barbuda', 'Liechtenstein',
       'Belize', 'French Polynesia', 'St. Vincent Grenadines',
       'Saint Martin', 'Macao', 'Curaçao', 'Fiji', 'Saint Lucia',
       'Timor-Leste', 'Grenada', 'New Caledonia', 'Laos', 'Dominica',
       'Saint Kitts and Nevis', 'Greenland', 'Montserrat',
       'Caribbean Netherlands', 'Falkland Islands', 'Vatican City',
       'Western Sahara'], dtype=object)

In [50]:
worldometer_data[worldometer_data['COUNTRY_REGION'] == 'Brazil']

,COUNTRY_REGION,CONTINENT,POPULATION,TOTALCASES,NEWCASES,TOTALDEATHS,NEWDEATHS,TOTALRECOVERED,NEWRECOVERED,ACTIVECASES,"SERIOUS,CRITICAL",TOTCASES_1MPOP,DEATHS_1MPOP,TOTALTESTS,TESTS_1MPOP,WHOREGION
1,Brazil,South America,212710692.0,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas

In [51]:
full_grouped[full_grouped['COUNTRY_REGION'] == 'Brazil']

,DATE,COUNTRY_REGION,CONFIRMED,DEATHS,RECOVERED,ACTIVE,NEWCASES,NEWDEATHS,NEWRECOVERED,WHOREGION
23,2020-01-22,Brazil,0,0,0,0,0,0,0,Americas
210,2020-01-23,Brazil,0,0,0,0,0,0,0,Americas
397,2020-01-24,Brazil,0,0,0,0,0,0,0,Americas
584,2020-01-25,Brazil,0,0,0,0,0,0,0,Americas
771,2020-01-26,Brazil,0,0,0,0,0,0,0,Americas
...,...,...,...,...,...,...,...,...,...,...
34244,2020-07-23,Brazil,2287475,84082,1620313,583080,59961,1311,28338,Americas
34431,2020-07-24,Brazil,2343366,85238,1693214,564914,55891,1156,72901,Americas
34618,2020-07-25,Brazil,2394513,86449,1785359,522705,51147,1211,92145,Americas
34805,2020-07-26,Brazil,2419091,87004,1812913,519174,24578,555,27554,Americas
34992,2020-07-27,Brazil,2442375,87618,1846641,508116,23284,614,33728,Americas

In [52]:
covid_19_clean_complete[covid_19_clean_complete['COUNTRY_REGION'] == 'Brazil']

,PROVINCE_STATE,COUNTRY_REGION,LAT,LONG,DATE,CONFIRMED,DEATHS,RECOVERED,ACTIVE,WHOREGION
28,None,Brazil,-14.235,-51.9253,2020-01-22,0,0,0,0,Americas
289,None,Brazil,-14.235,-51.9253,2020-01-23,0,0,0,0,Americas
550,None,Brazil,-14.235,-51.9253,2020-01-24,0,0,0,0,Americas
811,None,Brazil,-14.235,-51.9253,2020-01-25,0,0,0,0,Americas
1072,None,Brazil,-14.235,-51.9253,2020-01-26,0,0,0,0,Americas
...,...,...,...,...,...,...,...,...,...,...
47791,None,Brazil,-14.235,-51.9253,2020-07-23,2287475,84082,1620313,583080,Americas
48052,None,Brazil,-14.235,-51.9253,2020-07-24,2343366,85238,1693214,564914,Americas
48313,None,Brazil,-14.235,-51.9253,2020-07-25,2394513,86449,1785359,522705,Americas
48574,None,Brazil,-14.235,-51.9253,2020-07-26,2419091,87004,1812913,519174,Americas
48835,None,Brazil,-14.235,-51.9253,2020-07-27,2442375,87618,1846641,508116,Americas

In [53]:
country_wise_latest[country_wise_latest['COUNTRY_REGION'] == 'Brazil']

,COUNTRY_REGION,CONFIRMED,DEATHS,RECOVERED,ACTIVE,NEWCASES,NEWDEATHS,NEWRECOVERED,DEATHS_100CASES,RECOVERED_100CASES,DEATHS_100RECOVERED,CONFIRMEDLASTWEEK,1WEEKCHANGE,1WEEK_INCREASE,WHOREGION
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas

In [39]:
usa_county_wise.head(2)

,UID,ISO2,ISO3,CODE3,FIPS,ADMIN2,PROVINCE_STATE,COUNTRY_REGION,LAT,LONG_,COMBINED_KEY,DATE,CONFIRMED,DEATHS
0,16,AS,ASM,16,60.0,None,American Samoa,US,-14.2710,-170.1320,"American Samoa, US",1/22/20,0,0
1,316,GU,GUM,316,66.0,None,Guam,US,13.4443,144.7937,"Guam, US",1/22/20,0,0

In [27]:
day_wise.head(2)

,DATE,CONFIRMED,DEATHS,RECOVERED,ACTIVE,NEWCASES,NEWDEATHS,NEWRECOVERED,DEATHS_100CASES,RECOVERED_100CASES,DEATHS_100RECOVERED,NO.OFCOUNTRIES
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8